html, body {
    overflow-x: hidden;
    font-family: "Nunito", sans-serif;
}

body {
    width:100vw;
    height: 100%;
    background-image: url("blackg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    
}

#outrodiv {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto;
    border-radius: 15px;
    font-size: 13px;
}

#outrodivp1 {
    background-color: rgba(57, 55, 57, 0.137);
    color: #f0f5f5;
    padding: 4px 13px 4px 13px;
    border-radius: 15px;
    margin-right: 10px;
    margin-top: 77px;
    border: solid;
    border-color: #ffffff91;
    border-width: 0.5px;
}

h1 {
    padding-top: 0px;
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
    color: #ffffff;
    margin-bottom: 10px;
}

p {
    text-align: center;
    color: #e1e1e1;
    font-weight: 400;
}

#notediv {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    
}

#buttondiv {
    text-align: center;
    
}

button {
    padding:11px 27px 11px 27px;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    color:#fff;
    background-color: #4742cd;
    margin-top: 10px;

}

/* mobile style go here*/
@media (max-width: 480px) {
    section {
        width:100%;
    }
    h1 {
        max-width: 480px;
        font-size: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }


}